---
services:
  g0efilter:
    build:
      context: ..
      dockerfile: test/Dockerfile
    container_name: g0efilter
    volumes:
      - ./policy.yaml:/app/policy.yaml:ro
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges
    read_only: true
    env_file:
      - .env
    cap_add:
      - NET_ADMIN

  g0efilter-dashboard:
    build:
      context: ..
      dockerfile: test/Dockerfile.dashboard
    container_name: g0efilter-dashboard
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges
    read_only: true
    env_file:
      - .env.dashboard
    network_mode: "service:g0efilter"

  tester:
    image: alpine:latest
    container_name: tester
    command: >
      sh -c "apk add --no-cache curl iputils && tail -f /dev/null"
    depends_on:
      - g0efilter
    network_mode: "service:g0efilter"
